node-red/flows.json
[{"id":"f4bd8d4b.cc624","type":"tab","label":"Tes 1","disabled":false,"info":""},{"id":"6d149fae.fb15","type":"tab","label":"Lampu Kos","disabled":false,"info":"Menyalakan lampu di kos ketika malam tiba"},{"id":"28a414fd.8813ac","type":"server","z":"","name":"Home Assistant"},{"id":"35c4dc92.b75ca4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1b3fd97c.936b57","type":"debug","z":"f4bd8d4b.cc624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":120,"wires":[]},{"id":"4a487911.76c798","type":"inject","z":"f4bd8d4b.cc624","name":"","topic":"","payload":"msg","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["76975ee0.09cff","4ac37cbf.976924"]]},{"id":"76975ee0.09cff","type":"change","z":"f4bd8d4b.cc624","name":"change tes","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=power","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":220,"wires":[["b45a0bae.4db568"]]},{"id":"b45a0bae.4db568","type":"http request","z":"f4bd8d4b.cc624","name":"","method":"use","ret":"obj","paytoqs":true,"url":"","tls":"","proxy":"","authType":"basic","x":370,"y":300,"wires":[["7080066b.05e3b8"]]},{"id":"87eccf9a.62b1d","type":"inject","z":"f4bd8d4b.cc624","name":"","topic":"","payload":"tes","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["7869d50d.fc414c"]]},{"id":"72a98925.2d8a98","type":"debug","z":"f4bd8d4b.cc624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":380,"wires":[]},{"id":"7869d50d.fc414c","type":"http request","z":"f4bd8d4b.cc624","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=power","tls":"","proxy":"","authType":"basic","x":210,"y":460,"wires":[["456df522.ff5cfc"]]},{"id":"456df522.ff5cfc","type":"json","z":"f4bd8d4b.cc624","name":"","property":"payload","action":"str","pretty":true,"x":350,"y":540,"wires":[["4326327a.7036ac"]]},{"id":"4326327a.7036ac","type":"function","z":"f4bd8d4b.cc624","name":"tes function","func":"a = JSON.parse(msg.payload)\nmsg.payload = a.POWER\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["72a98925.2d8a98"]]},{"id":"223732d9.fc516e","type":"http request","z":"6d149fae.fb15","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=Power%20On","tls":"","proxy":"","authType":"basic","x":330,"y":40,"wires":[["1edd0052.1b66d"]]},{"id":"7080066b.05e3b8","type":"json","z":"f4bd8d4b.cc624","name":"","property":"payload","action":"str","pretty":true,"x":490,"y":220,"wires":[["1b3fd97c.936b57"]]},{"id":"4ac37cbf.976924","type":"debug","z":"f4bd8d4b.cc624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":80,"wires":[]},{"id":"186ee27d.d7bbde","type":"inject","z":"f4bd8d4b.cc624","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"36 09 * * *","once":false,"onceDelay":0.1,"x":70,"y":560,"wires":[[]]},{"id":"36c301fa.8d8a7e","type":"api-current-state","z":"f4bd8d4b.cc624","name":"","server":"28a414fd.8813ac","version":1,"outputs":2,"halt_if":"OFF","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.yeelight_strip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":680,"wires":[[],[]]},{"id":"286fab13.af9c34","type":"inject","z":"f4bd8d4b.cc624","name":"","topic":"","payload":"tes","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":780,"wires":[["aebc574.bc924a8"]]},{"id":"f447019e.3d5d6","type":"api-call-service","z":"f4bd8d4b.cc624","name":"","server":"28a414fd.8813ac","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_strip\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":390,"y":600,"wires":[[]]},{"id":"aebc574.bc924a8","type":"api-call-service","z":"f4bd8d4b.cc624","name":"","server":"28a414fd.8813ac","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_strip\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":740,"wires":[[]]},{"id":"4c3859fd.676798","type":"debug","z":"f4bd8d4b.cc624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":900,"wires":[]},{"id":"15c1d73c.cb9e99","type":"inject","z":"6d149fae.fb15","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"20 17 * * *","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["223732d9.fc516e","530870f.320e69"]]},{"id":"1edd0052.1b66d","type":"debug","z":"6d149fae.fb15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":100,"wires":[]},{"id":"d70ee464.742a38","type":"debug","z":"6d149fae.fb15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":460,"wires":[]},{"id":"a867dda3.96468","type":"http request","z":"6d149fae.fb15","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=Power%20Off","tls":"","proxy":"","authType":"basic","x":330,"y":400,"wires":[["d70ee464.742a38"]]},{"id":"6708a031.5c443","type":"inject","z":"6d149fae.fb15","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["a867dda3.96468","e87b939b.91ad5"]]},{"id":"e87b939b.91ad5","type":"api-call-service","z":"6d149fae.fb15","name":"","server":"28a414fd.8813ac","service_domain":"notify","service":"android","data":"{\"message\":\"Lampu Dimatikan (trigger-jam 21:30)\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":500,"wires":[["d70ee464.742a38"]]},{"id":"530870f.320e69","type":"api-call-service","z":"6d149fae.fb15","name":"","server":"28a414fd.8813ac","service_domain":"notify","service":"android","data":"{\"message\":\"Lampu Dinyalakan (trigger-jam 17:30)\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":200,"wires":[["1edd0052.1b66d"]]},{"id":"6a24e03.385292","type":"debug","z":"6d149fae.fb15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":580,"wires":[]},{"id":"40ada097.6885c","type":"server-events","z":"6d149fae.fb15","name":"","server":"28a414fd.8813ac","event_type":"xiaomi_aqara.click","x":110,"y":580,"wires":[["96d140f.7c038c"]]},{"id":"96d140f.7c038c","type":"switch","z":"6d149fae.fb15","name":"click_type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":260,"y":640,"wires":[["6a24e03.385292"],["b218d8eb.a72538"],["6a24e03.385292"]]},{"id":"b218d8eb.a72538","type":"http request","z":"6d149fae.fb15","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=Power%20Toggle","tls":"","proxy":"","authType":"basic","x":430,"y":640,"wires":[["6a24e03.385292"]]}]