node-red/flows.json
[{"id":"f4bd8d4b.cc624","type":"tab","label":"Tes 1","disabled":false,"info":""},{"id":"6d149fae.fb15","type":"tab","label":"Lampu Kos","disabled":false,"info":"Menyalakan lampu di kos ketika malam tiba"},{"id":"c40d8daa.cb7bc","type":"tab","label":"Adzan","disabled":false,"info":""},{"id":"80997b7a.5918c8","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"56f78673.db31e8","type":"tab","label":"XiaomiHA","disabled":false,"info":""},{"id":"28a414fd.8813ac","type":"server","z":"","name":"Home Assistant"},{"id":"35c4dc92.b75ca4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"255308d9.122ab8","type":"googlehome-config-node-offline","z":"","ipaddress":"192.168.1.15","name":"Google Home Offline","language":"en"},{"id":"1df97e9a.754831","type":"googlehome-config-node","z":"","ipaddress":"192.168.1.15","name":"Google Home Online","language":"en"},{"id":"1f8a7e80.f3a831","type":"ui_group","z":"","name":"Prayer Times","tab":"5a3aef3f.eda05","order":3,"disp":true,"width":"6","collapse":false},{"id":"eade0dee.75282","type":"ui_group","z":"","name":"Sunna","tab":"5a3aef3f.eda05","order":4,"disp":true,"width":"6","collapse":false},{"id":"2f476db4.f78122","type":"ui_group","z":"","name":"Position","tab":"5a3aef3f.eda05","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a3aef3f.eda05","type":"ui_tab","z":"","name":"Prayer Times","icon":"dashboard"},{"id":"8a74d0ff.0bc39","type":"ui_group","z":"","name":"Prayer Times","tab":"798c7dc6.791134","order":3,"disp":true,"width":"6","collapse":false},{"id":"211cdaaf.3ef236","type":"ui_group","z":"","name":"Sunna","tab":"798c7dc6.791134","order":4,"disp":true,"width":"6","collapse":false},{"id":"ba69a422.498de8","type":"ui_group","z":"","name":"Position","tab":"798c7dc6.791134","order":1,"disp":true,"width":"6","collapse":false},{"id":"798c7dc6.791134","type":"ui_tab","z":"","name":"Prayer Times","icon":"dashboard"},{"id":"1b3fd97c.936b57","type":"debug","z":"f4bd8d4b.cc624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":120,"wires":[]},{"id":"4a487911.76c798","type":"inject","z":"f4bd8d4b.cc624","name":"","topic":"","payload":"msg","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["76975ee0.09cff","4ac37cbf.976924"]]},{"id":"76975ee0.09cff","type":"change","z":"f4bd8d4b.cc624","name":"change tes","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=power","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"get","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":220,"wires":[["b45a0bae.4db568"]]},{"id":"b45a0bae.4db568","type":"http request","z":"f4bd8d4b.cc624","name":"","method":"use","ret":"obj","paytoqs":true,"url":"","tls":"","proxy":"","authType":"basic","x":370,"y":300,"wires":[["7080066b.05e3b8"]]},{"id":"87eccf9a.62b1d","type":"inject","z":"f4bd8d4b.cc624","name":"","topic":"","payload":"tes","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["7869d50d.fc414c"]]},{"id":"72a98925.2d8a98","type":"debug","z":"f4bd8d4b.cc624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":380,"wires":[]},{"id":"7869d50d.fc414c","type":"http request","z":"f4bd8d4b.cc624","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=power","tls":"","proxy":"","authType":"basic","x":210,"y":460,"wires":[["456df522.ff5cfc"]]},{"id":"456df522.ff5cfc","type":"json","z":"f4bd8d4b.cc624","name":"","property":"payload","action":"str","pretty":true,"x":350,"y":540,"wires":[["4326327a.7036ac"]]},{"id":"4326327a.7036ac","type":"function","z":"f4bd8d4b.cc624","name":"tes function","func":"a = JSON.parse(msg.payload)\nmsg.payload = a.POWER\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["72a98925.2d8a98"]]},{"id":"223732d9.fc516e","type":"http request","z":"6d149fae.fb15","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=Power%20On","tls":"","proxy":"","authType":"basic","x":330,"y":40,"wires":[["1edd0052.1b66d"]]},{"id":"7080066b.05e3b8","type":"json","z":"f4bd8d4b.cc624","name":"","property":"payload","action":"str","pretty":true,"x":490,"y":220,"wires":[["1b3fd97c.936b57"]]},{"id":"4ac37cbf.976924","type":"debug","z":"f4bd8d4b.cc624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":80,"wires":[]},{"id":"186ee27d.d7bbde","type":"inject","z":"f4bd8d4b.cc624","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"36 09 * * *","once":false,"onceDelay":0.1,"x":70,"y":560,"wires":[[]]},{"id":"36c301fa.8d8a7e","type":"api-current-state","z":"f4bd8d4b.cc624","name":"","server":"28a414fd.8813ac","version":1,"outputs":2,"halt_if":"OFF","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.yeelight_strip","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":680,"wires":[[],[]]},{"id":"286fab13.af9c34","type":"inject","z":"f4bd8d4b.cc624","name":"","topic":"message","payload":"message","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":780,"wires":[["43efdc8f.509e24","4c3859fd.676798"]]},{"id":"f447019e.3d5d6","type":"api-call-service","z":"f4bd8d4b.cc624","name":"","server":"28a414fd.8813ac","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.yeelight_strip\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":390,"y":600,"wires":[[]]},{"id":"aebc574.bc924a8","type":"api-call-service","z":"f4bd8d4b.cc624","name":"","server":"28a414fd.8813ac","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.yeelight_strip\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":740,"wires":[[]]},{"id":"4c3859fd.676798","type":"debug","z":"f4bd8d4b.cc624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":780,"wires":[]},{"id":"15c1d73c.cb9e99","type":"inject","z":"6d149fae.fb15","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"20 17 * * *","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["223732d9.fc516e","530870f.320e69","33940601.98d87a"]]},{"id":"1edd0052.1b66d","type":"debug","z":"6d149fae.fb15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":100,"wires":[]},{"id":"d70ee464.742a38","type":"debug","z":"6d149fae.fb15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":400,"wires":[]},{"id":"a867dda3.96468","type":"http request","z":"6d149fae.fb15","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=Power%20Off","tls":"","proxy":"","authType":"basic","x":330,"y":340,"wires":[["d70ee464.742a38"]]},{"id":"6708a031.5c443","type":"inject","z":"6d149fae.fb15","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"x":130,"y":400,"wires":[["a867dda3.96468","e87b939b.91ad5","92f43f3f.fe6f"]]},{"id":"e87b939b.91ad5","type":"api-call-service","z":"6d149fae.fb15","name":"","server":"28a414fd.8813ac","service_domain":"notify","service":"android","data":"{\"message\":\"Lampu Dimatikan (trigger-jam 21:30)\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":460,"wires":[["d70ee464.742a38"]]},{"id":"530870f.320e69","type":"api-call-service","z":"6d149fae.fb15","name":"","server":"28a414fd.8813ac","service_domain":"notify","service":"android","data":"{\"message\":\"Lampu Dinyalakan (trigger-jam 17:30)\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":200,"wires":[["1edd0052.1b66d"]]},{"id":"6a24e03.385292","type":"debug","z":"6d149fae.fb15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":700,"wires":[]},{"id":"40ada097.6885c","type":"server-events","z":"6d149fae.fb15","name":"","server":"28a414fd.8813ac","event_type":"xiaomi_aqara.click","x":170,"y":700,"wires":[["96d140f.7c038c"]]},{"id":"96d140f.7c038c","type":"switch","z":"6d149fae.fb15","name":"click_type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":320,"y":780,"wires":[["6a24e03.385292"],["511b1ee0.271f8"],["6a24e03.385292"]]},{"id":"43efdc8f.509e24","type":"cast-to-client","z":"f4bd8d4b.cc624","name":"","url":"","contentType":"","message":"tes","language":"en","ip":"192.168.1.15","port":"","volume":"","x":310,"y":900,"wires":[[]]},{"id":"27067675.c506da","type":"http request","z":"6d149fae.fb15","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=Power%20Status","tls":"","proxy":"","authType":"basic","x":610,"y":800,"wires":[["9b0ab0e0.06bcd"]]},{"id":"18c6b426.f499fc","type":"switch","z":"6d149fae.fb15","name":"","property":"payload.POWER","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":760,"wires":[["dbb1553.d5921a8"],["5e17bf80.ead3b"]]},{"id":"9b0ab0e0.06bcd","type":"json","z":"6d149fae.fb15","name":"","property":"payload","action":"obj","pretty":true,"x":750,"y":900,"wires":[["18c6b426.f499fc"]]},{"id":"33940601.98d87a","type":"cast-to-client","z":"6d149fae.fb15","name":"Notif Google Home Lampu Nyala Sore","url":"","contentType":"","message":"Lampu Hidup Karena Sore","language":"id","ip":"192.168.1.15","port":"","volume":"40","x":410,"y":260,"wires":[[]]},{"id":"511b1ee0.271f8","type":"http request","z":"6d149fae.fb15","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=Power%20Toggle","tls":"","proxy":"","authType":"basic","x":430,"y":900,"wires":[["27067675.c506da"]]},{"id":"dbb1553.d5921a8","type":"cast-to-client","z":"6d149fae.fb15","name":"Notif Google Home Mati Lampu Dobel Klik","url":"","contentType":"","message":"Lampu mati Karena Dobel Klik","language":"id","ip":"192.168.1.15","port":"","volume":"40","x":1100,"y":700,"wires":[[]]},{"id":"5e17bf80.ead3b","type":"cast-to-client","z":"6d149fae.fb15","name":"Notif Google Home Lampu Nyala Dobel Klik","url":"","contentType":"","message":"Lampu Hidup Karena Dobel Klik","language":"id","ip":"192.168.1.15","port":"","volume":"40","x":1110,"y":820,"wires":[[]]},{"id":"92f43f3f.fe6f","type":"cast-to-client","z":"6d149fae.fb15","name":"Notif Google Home Mati Lampu malam","url":"","contentType":"","message":"Lampu mati Karena malam","language":"id","ip":"192.168.1.15","port":"","volume":"40","x":390,"y":520,"wires":[[]]},{"id":"fa544073.699cb","type":"inject","z":"80997b7a.5918c8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"3600","crontab":"","once":true,"onceDelay":"","x":90,"y":120,"wires":[["c4abeff5.216b9"]]},{"id":"63651bc2.176a24","type":"http request","z":"80997b7a.5918c8","name":"Prayer Times","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":580,"y":120,"wires":[["1bc9e706.d61679","8a18ee1.11fb51","8b2a7b30.f90c48","513b63a6.1073bc","7e337748.c5d208","9c1ca566.8d2f78","a6d83f7c.e02d3","355016ad.31ab1a","c5bb65d0.030388","848714cd.cce888","7cd5cf8b.39d28"]]},{"id":"1bc9e706.d61679","type":"debug","z":"80997b7a.5918c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":900,"y":120,"wires":[]},{"id":"8a18ee1.11fb51","type":"ui_text","z":"80997b7a.5918c8","group":"8a74d0ff.0bc39","order":2,"width":0,"height":0,"name":"","label":"Fajr","format":"{{msg.payload.data.timings.Fajr}}","layout":"row-spread","x":900,"y":260,"wires":[]},{"id":"8b2a7b30.f90c48","type":"ui_text","z":"80997b7a.5918c8","group":"8a74d0ff.0bc39","order":3,"width":0,"height":0,"name":"","label":"Sunrise","format":"{{msg.payload.data.timings.Sunrise}}","layout":"row-spread","x":910,"y":300,"wires":[]},{"id":"513b63a6.1073bc","type":"ui_text","z":"80997b7a.5918c8","group":"8a74d0ff.0bc39","order":4,"width":0,"height":0,"name":"","label":"Dhuhr","format":"{{msg.payload.data.timings.Dhuhr}}","layout":"row-spread","x":900,"y":340,"wires":[]},{"id":"7e337748.c5d208","type":"ui_text","z":"80997b7a.5918c8","group":"8a74d0ff.0bc39","order":5,"width":0,"height":0,"name":"","label":"Asr","format":"{{msg.payload.data.timings.Asr}}","layout":"row-spread","x":900,"y":380,"wires":[]},{"id":"9c1ca566.8d2f78","type":"ui_text","z":"80997b7a.5918c8","group":"8a74d0ff.0bc39","order":6,"width":0,"height":0,"name":"","label":"Maghrib & Iftar","format":"{{msg.payload.data.timings.Maghrib}}","layout":"row-spread","x":930,"y":420,"wires":[]},{"id":"848714cd.cce888","type":"ui_text","z":"80997b7a.5918c8","group":"8a74d0ff.0bc39","order":7,"width":0,"height":0,"name":"","label":"Isha","format":"{{msg.payload.data.timings.Isha}}","layout":"row-spread","x":900,"y":460,"wires":[]},{"id":"a6d83f7c.e02d3","type":"ui_text","z":"80997b7a.5918c8","group":"211cdaaf.3ef236","order":2,"width":0,"height":0,"name":"","label":"Imsak","format":"{{msg.payload.data.timings.Imsak}}","layout":"row-spread","x":900,"y":220,"wires":[]},{"id":"c5bb65d0.030388","type":"ui_text","z":"80997b7a.5918c8","group":"211cdaaf.3ef236","order":1,"width":0,"height":0,"name":"","label":"Midnight","format":"{{msg.payload.data.timings.Midnight}}","layout":"row-spread","x":910,"y":500,"wires":[]},{"id":"355016ad.31ab1a","type":"ui_text","z":"80997b7a.5918c8","group":"ba69a422.498de8","order":1,"width":0,"height":0,"name":"","label":"Date","format":"{{msg.payload.data.date.readable}}","layout":"row-spread","x":900,"y":180,"wires":[]},{"id":"b88edf7.bc44e2","type":"comment","z":"80997b7a.5918c8","name":"APIs","info":"https://aladhan.com/prayer-times-api#GetCalendarByCitys\nhttp://ip-api.com/json","x":69.5,"y":56.99999809265137,"wires":[]},{"id":"c4abeff5.216b9","type":"http request","z":"80997b7a.5918c8","name":"Get Position","method":"GET","ret":"obj","paytoqs":false,"url":"http://ip-api.com/json","tls":"","proxy":"","authType":"","x":250,"y":120,"wires":[["20b85de0.15b892","b18f72ab.87d59","ef4bbb72.b6a508","5e57c787.4b2678","ec88c0bb.3d40e","550607d0.5dad38"]]},{"id":"20b85de0.15b892","type":"function","z":"80997b7a.5918c8","name":"","func":"var url= \"http://api.aladhan.com/timingsByCity?city=\" + msg.payload.city + \"&country=\" + msg.payload.country + \"&method=3\";\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["63651bc2.176a24"]]},{"id":"b18f72ab.87d59","type":"debug","z":"80997b7a.5918c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":479,"y":320,"wires":[]},{"id":"ef4bbb72.b6a508","type":"ui_text","z":"80997b7a.5918c8","group":"ba69a422.498de8","order":2,"width":0,"height":0,"name":"","label":"Country","format":"{{msg.payload.city}} - {{msg.payload.country}}","layout":"row-spread","x":490,"y":380,"wires":[]},{"id":"5e57c787.4b2678","type":"ui_text","z":"80997b7a.5918c8","group":"ba69a422.498de8","order":3,"width":0,"height":0,"name":"","label":"Region","format":"{{msg.payload.regionName}} ({{msg.payload.region}})","layout":"row-spread","x":490,"y":420,"wires":[]},{"id":"ec88c0bb.3d40e","type":"ui_text","z":"80997b7a.5918c8","group":"ba69a422.498de8","order":4,"width":0,"height":0,"name":"","label":"ISP","format":"{{msg.payload.isp}}","layout":"row-spread","x":480,"y":460,"wires":[]},{"id":"550607d0.5dad38","type":"ui_text","z":"80997b7a.5918c8","group":"ba69a422.498de8","order":5,"width":0,"height":0,"name":"","label":"IP","format":"{{msg.payload.query}}","layout":"row-spread","x":480,"y":500,"wires":[]},{"id":"7cd5cf8b.39d28","type":"ui_text","z":"80997b7a.5918c8","group":"8a74d0ff.0bc39","order":1,"width":0,"height":0,"name":"","label":"Methode","format":"{{msg.payload.data.meta.method.name}}","layout":"row-spread","x":910,"y":540,"wires":[]},{"id":"ee283072.87e3","type":"simpletime","z":"c40d8daa.cb7bc","name":"current time","x":390,"y":40,"wires":[["79d34bd4.b4b1c4"]]},{"id":"47c5027a.94a27c","type":"inject","z":"c40d8daa.cb7bc","name":"","topic":"","payload":"check time every minute","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["ee283072.87e3"]]},{"id":"cc3edd76.b4037","type":"server-state-changed","z":"c40d8daa.cb7bc","name":"","server":"28a414fd.8813ac","version":1,"entityidfilter":"sensor.isha","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":230,"y":160,"wires":[["79d34bd4.b4b1c4"]]},{"id":"e6995c0.e04eea8","type":"switch","z":"c40d8daa.cb7bc","name":"if shalt time","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"fajr","vt":"msg"},{"t":"neq","v":"fajr","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":580,"wires":[[],[]]},{"id":"1c514f01.3f4791","type":"comment","z":"80997b7a.5918c8","name":"Doorbell routine","info":"","x":180,"y":500,"wires":[]},{"id":"4e9dd846.be72e8","type":"link out","z":"80997b7a.5918c8","name":"","links":["c873cb6.6216e38"],"x":455,"y":700,"wires":[],"icon":"node-red-contrib-huemagic/hue-group.png"},{"id":"b2154dc2.01d29","type":"http in","z":"80997b7a.5918c8","name":"","url":"/doorbell","method":"get","upload":false,"swaggerDoc":"","x":170,"y":560,"wires":[["a468e1c3.6db0d"]]},{"id":"f7f48217.00df7","type":"http response","z":"80997b7a.5918c8","name":"","statusCode":"","headers":{"content-type":"audio/mpeg"},"x":470,"y":560,"wires":[]},{"id":"a468e1c3.6db0d","type":"file in","z":"80997b7a.5918c8","name":"doorbell.mp3","filename":"/home/pi/.node-red/doorbell.mp3","format":"","chunk":false,"sendError":false,"x":330,"y":560,"wires":[["f7f48217.00df7"]]},{"id":"9c08ff9f.8d625","type":"link out","z":"80997b7a.5918c8","name":"","links":["ac60ad8.0709d5"],"x":455,"y":740,"wires":[],"icon":"node-red-contrib-telegrambot-home/telegram.png"},{"id":"ab60360.c97abc8","type":"trigger","z":"80997b7a.5918c8","op1":"{\"ip\":\"${CASTIP}\",\"url\":\"http://${NODEREDIP}:1880/doorbell\",\"contentType\":\"audio/mp3\",\"volume\":50}","op2":"{\"ip\":\"${CASTIP}\",\"volume\":50}","op1type":"json","op2type":"json","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"TTS + reset volume","x":390,"y":620,"wires":[["3dc95bfc.2463b4"]]},{"id":"8c23ab7f.f5ebf8","type":"trigger","z":"80997b7a.5918c8","op1":"{\"ip\":\"${CASTIP}\",\"url\":\"http://${NODEREDIP}:1880/doorbell\",\"contentType\":\"audio/mp3\",\"volume\":50}","op2":"{\"ip\":\"${CASTIP}\",\"volume\":30}","op1type":"json","op2type":"json","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"TTS + reset volume","x":390,"y":660,"wires":[["f522118.5339ef"]]},{"id":"79525400.161f0c","type":"change","z":"80997b7a.5918c8","name":"Hue alert","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"alert\":2,\"hex\":\"ffca7b\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":700,"wires":[["4e9dd846.be72e8"]]},{"id":"b92a7e98.fecef","type":"change","z":"80997b7a.5918c8","name":"Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Quelqu'un sonne a la porte !","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":740,"wires":[["9c08ff9f.8d625"]]},{"id":"3dc95bfc.2463b4","type":"cast-to-client","z":"80997b7a.5918c8","name":"","url":"","contentType":"","message":"","language":"fr","ip":"","port":"","volume":"","x":550,"y":620,"wires":[[]]},{"id":"f522118.5339ef","type":"cast-to-client","z":"80997b7a.5918c8","name":"","url":"","contentType":"","message":"","language":"fr","ip":"","port":"","volume":"","x":550,"y":660,"wires":[[]]},{"id":"bc268968.b54c08","type":"cast-to-client","z":"c40d8daa.cb7bc","name":"azan","url":"","contentType":"","message":"","language":"id","ip":"","port":"","volume":"5","x":570,"y":200,"wires":[[]]},{"id":"2e1777f5.898e08","type":"server-state-changed","z":"c40d8daa.cb7bc","name":"","server":"28a414fd.8813ac","version":1,"entityidfilter":"sensor.fajr","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":230,"y":220,"wires":[["79d34bd4.b4b1c4"]]},{"id":"8a46eb3b.909558","type":"function","z":"c40d8daa.cb7bc","name":"payload fajr","func":"msg.fajr = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":700,"wires":[[]]},{"id":"78c8614e.4260f","type":"server-state-changed","z":"c40d8daa.cb7bc","name":"","server":"28a414fd.8813ac","version":1,"entityidfilter":"sensor.dhuhr","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":240,"y":280,"wires":[["79d34bd4.b4b1c4"]]},{"id":"e86bee95.a232b","type":"function","z":"c40d8daa.cb7bc","name":"payload dhuhr","func":"msg.dhuhr = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":760,"wires":[[]]},{"id":"647cd1a7.04783","type":"server-state-changed","z":"c40d8daa.cb7bc","name":"","server":"28a414fd.8813ac","version":1,"entityidfilter":"sensor.asr","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":230,"y":340,"wires":[["79d34bd4.b4b1c4"]]},{"id":"12922232.d2de5e","type":"function","z":"c40d8daa.cb7bc","name":"payload asr","func":"msg.asr = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":820,"wires":[[]]},{"id":"21472a55.3394a6","type":"server-state-changed","z":"c40d8daa.cb7bc","name":"","server":"28a414fd.8813ac","version":1,"entityidfilter":"sensor.magrib","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":240,"y":400,"wires":[["79d34bd4.b4b1c4"]]},{"id":"6370d2d0.0e451c","type":"function","z":"c40d8daa.cb7bc","name":"payload magrib","func":"msg.magrib = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":880,"wires":[[]]},{"id":"1076f512.39521b","type":"debug","z":"c40d8daa.cb7bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":440,"wires":[]},{"id":"d2a2a332.c5d25","type":"function","z":"c40d8daa.cb7bc","name":"payload isha","func":"msg.isha = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":640,"wires":[[]]},{"id":"79d34bd4.b4b1c4","type":"function","z":"c40d8daa.cb7bc","name":"cek prayer time","func":"context.isha = context.isha || 'aa';\ncontext.fajr = context.fajr || 'bb';\ncontext.dhuhr = context.dhuhr || 'cc';\ncontext.asr = context.asr || 'dd';\ncontext.magrib = context.magrib || 'ee';\n\ncontext.mytime = context.mytime || 'ff';\n\nmsg.the_time = context.mytime;\n\nif (msg.topic === null || msg.topic === '')\n    context.mytime = msg.mytime;\nelse {\n    if(msg.topic === 'sensor.isha')\n        context.isha = msg.payload;\n    if (msg.topic === 'sensor.fajr')\n        context.fajr = msg.payload;\n    if (msg.topic === 'sensor.dhuhr')\n        context.dhuhr = msg.payload;\n    if (msg.topic === 'sensor.asr')\n        context.asr = msg.payload;\n    if (msg.topic === 'sensor.magrib')\n        context.magrib = msg.payload;\n}\n\nmsg.payload = null\nmsg.topic = null\n\nif(context.mytime === context.fajr)\n{\n    msg.topic = null;\n    msg.payload=\"waktu SUBUH\";\n    msg.sholat_time = context.fajr;\n    return [msg,null,null];\n}\nelse if(context.mytime === context.isha)\n{\n    msg.topic = 'isha';\n    msg.payload=\"waktu ISHA\";\n    msg.sholat_time = context.isha;\n    return [null,msg,null];\n}\nelse if(context.mytime === context.dhuhr)\n{\n    msg.topic = 'dhuhur';\n    msg.payload=\"waktu DHUHUR\";\n    msg.sholat_time = context.dhuhr;\n    return [null,msg,null];\n}\nelse if(context.mytime === context.asr)\n{\n    msg.topic = 'asr';\n    msg.payload=\"waktu ASHAR\";\n    msg.sholat_time = context.asr;\n    return [null,msg,null];\n}\nelse if(context.mytime === context.magrib)\n{\n    msg.topic = 'magrib';\n    msg.payload=\"waktu MAGRIB\";\n    msg.sholat_time = context.magrib;\n    return [null,msg,null];\n}\n\nmsg.payload = 'belum masuk waktu sholat';\nmsg.sholat_time = context.fajr + ' ' + context.isha;\nreturn [null,null,msg];\n\n","outputs":3,"noerr":0,"x":560,"y":100,"wires":[["cb44e0cf.f2337"],["cc785f1a.04179"],["1076f512.39521b"]]},{"id":"cb44e0cf.f2337","type":"trigger","z":"c40d8daa.cb7bc","op1":"{\"ip\":\"192.168.1.15\",\"url\":\"http://islamdownload.net/files/123801/fajr_128_44.mp3\",\"contentType\":\"audio/mp3\",\"volume\":5}","op2":"{\"ip\":\"192.168.1.15\",\"volume\":20}","op1type":"json","op2type":"json","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"Subuh","x":870,"y":40,"wires":[["bc268968.b54c08"]]},{"id":"c4a78c39.358c3","type":"cast-to-client","z":"c40d8daa.cb7bc","name":"azan selain subuh","url":"http://islamdownload.net/files/123801/mecca_56_22.mp3","contentType":"audio/mpeg","message":"","language":"id","ip":"192.168.1.15","port":"","volume":"5","x":190,"y":520,"wires":[[]]},{"id":"cc785f1a.04179","type":"trigger","z":"c40d8daa.cb7bc","op1":"{\"ip\":\"192.168.1.15\",\"url\":\"http://islamdownload.net/files/123801/mecca_56_22.mp3\",\"contentType\":\"audio/mp3\",\"volume\":5}","op2":"{\"ip\":\"192.168.1.15\",\"volume\":20}","op1type":"json","op2type":"json","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"tidak subuh","x":890,"y":80,"wires":[["bc268968.b54c08"]]},{"id":"179da2d6.92915d","type":"server-events","z":"56f78673.db31e8","name":"Cube Sensor","server":"28a414fd.8813ac","event_type":"xiaomi_aqara.cube_action","x":90,"y":1020,"wires":[["401f1946.6af498"]]},{"id":"5723255d.c630dc","type":"api-call-service","z":"56f78673.db31e8","name":"yeelight off","server":"28a414fd.8813ac","version":1,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_strip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":1100,"wires":[[]]},{"id":"51148faa.17c07","type":"batcher","z":"56f78673.db31e8","name":"2tap, rotate","maxTopics":"1","maxMessagesPerTopic":"2","maxDelay":"-1","x":410,"y":440,"wires":[["223c9ab1.941016"]]},{"id":"1e330ad4.be4225","type":"switch","z":"56f78673.db31e8","name":"","property":"payload.event.action_type","propertyType":"msg","rules":[{"t":"eq","v":"rotate","vt":"str"},{"t":"eq","v":"tap_twice","vt":"str"},{"t":"eq","v":"move","vt":"str"},{"t":"eq","v":"shake_air","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":110,"y":580,"wires":[["369071eb.fb1f7e"],["369071eb.fb1f7e"],[],[],[],[]]},{"id":"756e5d.c4c341a4","type":"switch","z":"56f78673.db31e8","name":"","property":"payload.event.action_type","propertyType":"msg","rules":[{"t":"eq","v":"rotate","vt":"str"},{"t":"eq","v":"tap_twice","vt":"str"},{"t":"eq","v":"move","vt":"str"},{"t":"eq","v":"shake_air","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":150,"y":760,"wires":[[],[],[],[],[],[]]},{"id":"223c9ab1.941016","type":"function","z":"56f78673.db31e8","name":"Cek Light","func":"\n\nif (msg.topic===\"xiaomi_aqara.cube_action\" && msg.payload[0].event.action_type===\"rotate\" && msg.payload[0].event.action_value>0)\n{\n    if(msg.topic===\"light.yeelight_strip\" && msg.payload===\"off\")\n    {\n        //newMsg.payload = { data: { 'entity_id': 'light.yeelight_strip'} }\n        //return newMsg\n        \n        return [null,msg]\n    }\n    else if(msg.topic===\"light.yeelight_strip\" && msg.payload===\"on\") {\n        var terang = msg.payload.data.attributes.brightness + (msg.payload[0].event.action_value*10)\n        if(terang > 255) terang = 255\n        //newMsg.payload = { data: { 'entity_id': 'light.yeelight_strip', 'brightness':terang} }\n        //return newMsg\n        \n        msg.yeelight_brigthness = terang\n        return [msg,null]\n    }\n}\n","outputs":2,"noerr":0,"x":520,"y":520,"wires":[["c1a3a576.ba3418"],[]]},{"id":"b498d4e2.6da428","type":"api-call-service","z":"56f78673.db31e8","name":"yeelight On","server":"28a414fd.8813ac","version":1,"service_domain":"light","service":"turn_on","entityId":"light.yeelight_strip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":1160,"wires":[[]]},{"id":"ab957bdb.bdd198","type":"change","z":"56f78673.db31e8","name":"","rules":[{"t":"delete","p":"customCube","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1200,"wires":[["77d5e2bc.1dbcac"]]},{"id":"c1a3a576.ba3418","type":"template","z":"56f78673.db31e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"data\":{\n        \"entity_id\":\"light.yeelight_strip\",\n        \"brightness\":{{msg.yeelight_brightness}}\n    }\n}","output":"str","x":620,"y":400,"wires":[[]]},{"id":"4a107b84.8ed8d4","type":"batcher","z":"56f78673.db31e8","name":"2tap, 2tap","maxTopics":"1","maxMessagesPerTopic":"2","maxDelay":"5000","x":370,"y":680,"wires":[["2248dc4e.8c8924"]]},{"id":"4172c53.8c6073c","type":"debug","z":"56f78673.db31e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":1000,"wires":[]},{"id":"255d741e.c39b7c","type":"function","z":"56f78673.db31e8","name":"Cek Cube","func":"\n\nif (msg.topic===\"binary_sensor.cube_158d00029bf44d\")\n{\n    if(msg.data.event.old_state.attributes.last_action===\"tap_twice\" && msg.data.event.new_state.attributes.last_action===\"tap_twice\")\n    {\n        return [msg,null]\n    }\n    else if(msg.data.event.old_state.attributes.last_action===\"tap_twice\" && msg.data.event.new_state.attributes.last_action===\"rotate\")\n    {\n        return [null,msg]\n    }\n}\n","outputs":2,"noerr":0,"x":520,"y":880,"wires":[["97572c56.74a2e"],[]]},{"id":"97572c56.74a2e","type":"api-call-service","z":"56f78673.db31e8","name":"yeelight off","server":"28a414fd.8813ac","version":1,"service_domain":"light","service":"turn_off","entityId":"light.yeelight_strip","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":800,"wires":[[]]},{"id":"d1b5dea0.d06fe","type":"template","z":"56f78673.db31e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"data\":{\n        \"entity_id\":\"light.yeelight_strip\",\n        \"brightness\":{{msg.yeelight_brightness}}\n    }\n}","output":"str","x":680,"y":900,"wires":[[]]},{"id":"4fe953c9.6c7c1c","type":"function","z":"56f78673.db31e8","name":"Cek Count","func":"var count=flow.get('count') || 0;\n\nif(count==1) flow.set('count',0);\nelse flow.set('count',1);\n","outputs":1,"noerr":0,"x":250,"y":400,"wires":[[]]},{"id":"369071eb.fb1f7e","type":"function","z":"56f78673.db31e8","name":"Set Count","func":"\nvar count=flow.get('count')\nmsg.payload.count = count\nreturn msg","outputs":1,"noerr":0,"x":280,"y":580,"wires":[["4a107b84.8ed8d4"]]},{"id":"2248dc4e.8c8924","type":"function","z":"56f78673.db31e8","name":"Cek Tap","func":"\n\nif (msg.topic===\"xiaomi_aqara.cube_action\" && msg.payload[0].event.action_type===\"tap_twice\" && msg.payload[0].count===0)\n{\n    if(msg.topic===\"xiaomi_aqara.cube_action\" && msg.payload[1].event.action_type===\"tap_twice\" && msg.payload[1].count===1)\n    {\n        return [null,null,msg]\n    }\n     \n}else if(msg.payload[0].count===1 || msg.payload[1].count===0)\n{\n    flow.set('count',0)\n}\n    \n","outputs":3,"noerr":0,"x":460,"y":780,"wires":[[],[],[]]},{"id":"401f1946.6af498","type":"function","z":"56f78673.db31e8","name":"Custom Cube","func":"\nvar customCube = flow.get('customCube') || {}\n\nif(customCube.oldState === undefined)\n{\n    if(msg.payload.event.action_type!==undefined && msg.payload.event.action_type!==\"alert\")\n    customCube.oldState = msg.payload.event.action_type\n    \n} else\n{\n    if(msg.payload.event.action_type!==undefined && msg.payload.event.action_type!==\"alert\")\n    customCube.newState = msg.payload.event.action_type\n}\n\nflow.set('customCube',customCube)\nreturn customCube","outputs":1,"noerr":0,"x":320,"y":1020,"wires":[["ff7431c5.39d16","56c5c8a6.8c5f88","e6a8114b.fb302","4172c53.8c6073c"]]},{"id":"4fe08821.f66558","type":"function","z":"56f78673.db31e8","name":"customCube trasher","func":"\nvar customCube = flow.get('customCube') || {}\n\nif(customCube.newState !== undefined)\n{\n    return msg;\n    \n} ","outputs":1,"noerr":0,"x":340,"y":1120,"wires":[["ab957bdb.bdd198"]]},{"id":"ff7431c5.39d16","type":"function","z":"56f78673.db31e8","name":"Cek Cube","func":"\nif(msg.oldState!==undefined && msg.newState!==undefined)\n{\n    if(msg.oldState==\"tap_twice\" && msg.newState==\"tap_twice\")\n    {\n       return [null,msg,null,null]\n    }\n    else if(msg.oldState==\"tap_twice\" && msg.newState==\"rotate\")\n    {\n        return [null,null,msg,null]\n    }\n    else if(msg.oldState==\"shake_air\" && msg.newState==\"shake_air\")\n    {\n        return [null,null,null,msg]\n    }\n}\n","outputs":4,"noerr":0,"x":580,"y":1100,"wires":[[],["5723255d.c630dc"],["b498d4e2.6da428"],["6cd2d4d8.540abc"]]},{"id":"56c5c8a6.8c5f88","type":"function","z":"56f78673.db31e8","name":"Strobe","func":"\nvar customCube = flow.get('customCube') || {}\n\nif(customCube.oldState !== undefined && customCube.newState===undefined)\n{\n    return msg;\n    \n} ","outputs":1,"noerr":0,"x":210,"y":960,"wires":[["86a45d1d.8f75c"]]},{"id":"6b8d671b.d6aa38","type":"api-call-service","z":"56f78673.db31e8","name":"Gateway On","server":"28a414fd.8813ac","version":1,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_7c49eb1b9c00","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":940,"wires":[[]]},{"id":"77d5e2bc.1dbcac","type":"api-call-service","z":"56f78673.db31e8","name":"yeelight off","server":"28a414fd.8813ac","version":1,"service_domain":"light","service":"turn_off","entityId":"light.gateway_light_7c49eb1b9c00","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":1260,"wires":[[]]},{"id":"86a45d1d.8f75c","type":"template","z":"56f78673.db31e8","name":"strobe template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"data\":{\n        \"entity_id\":\"light.gateway_light_7c49eb1b9c00\",\n        \"flash\":\"short\"\n    }\n}","output":"str","x":236,"y":896,"wires":[["6b8d671b.d6aa38"]]},{"id":"e6a8114b.fb302","type":"delay","z":"56f78673.db31e8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":1160,"wires":[["ab957bdb.bdd198"]]},{"id":"6cd2d4d8.540abc","type":"http request","z":"56f78673.db31e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=Power%20Toggle","tls":"","proxy":"","authType":"basic","x":670,"y":1420,"wires":[["42f30be6.41f534"]]},{"id":"42f30be6.41f534","type":"http request","z":"56f78673.db31e8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.1.17/cm?user=admin&password=hakimpalace100&cmnd=Power%20Status","tls":"","proxy":"","authType":"basic","x":850,"y":1320,"wires":[["bd927f27.a9dba"]]},{"id":"bd927f27.a9dba","type":"json","z":"56f78673.db31e8","name":"","property":"payload","action":"obj","pretty":true,"x":990,"y":1420,"wires":[["9a96d0cc.55205"]]},{"id":"9a96d0cc.55205","type":"switch","z":"56f78673.db31e8","name":"","property":"payload.POWER","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":1280,"wires":[["402198cf.0a2768"],["bec1fac9.2efd08"]]},{"id":"402198cf.0a2768","type":"cast-to-client","z":"56f78673.db31e8","name":"Notif Google Home Mati Lampu Dikocok","url":"","contentType":"","message":"Lampu mati Karena Dikocok","language":"id","ip":"192.168.1.15","port":"","volume":"40","x":1330,"y":1220,"wires":[[]]},{"id":"bec1fac9.2efd08","type":"cast-to-client","z":"56f78673.db31e8","name":"Notif Google Home Lampu Nyala Dikocok","url":"","contentType":"","message":"Lampu Hidup Karena Dikocok","language":"id","ip":"192.168.1.15","port":"","volume":"40","x":1340,"y":1340,"wires":[[]]}]